
#about_blue{
  background-color:#6495ED;
border: 2px solid black;
color: blue}
#about_yellow{background-color:#FFEBCD;
border: 2px solid black;
color: orange
}
h2{color:black}
p{color:black}
#boulets {background-color: red
}
.nav{
  color:white
  background-color: red}
